body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-color: #2C3E50;
    color: white;
    font-family: Arial, sans-serif;
}

h1{
    margin-bottom: 20px;
}

.game-board {
    display: grid;
    grid-template-columns: repeat(4,100px);
    grid-gap: 10px;
}

.card {
    width: 100px;
    height: 100px;
    background-color: #ECF0F1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 65px;
    cursor: pointer;
    border-radius: 8px;
}

.card-flipped {
    background-color: #3498DB;
    color: white;
}

#reset-button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #E74C3C;
    color: white;
}

